<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <h2>Books Haven</h2>
        </div>
        <ul class="footer-links">
          <li><a class="nav-link text-white nav-button"routerLink="/dashboard/2">Home</a></li>
          <li>                  
            <a class="nav-link text-white nav-button" routerLink="/aboutPage">About</a>
          </li>
          <!-- <li><a href="#">Categories</a></li> -->
          <li>
            <a class="nav-link text-white nav-button" routerLink="/contactPage">Contact</a>
          </li>
        </ul>
        <div class="footer-social">
          <!-- <a href="#"><i class="fab fa-facebook-f"></i></a> -->
          <a href="https://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 Books Haven. All rights reserved.</p>
      </div>
    </div>
  </footer>
  