<div class="mainbody">
  <header>
    <app-common-navbar [publisherNav]="false" [customerNav]="true" [adminNav]="false"></app-common-navbar>
  </header>

  <div class="container mt-5">
    <div class="row justify-content-center w-100">
      <div class="col-lg-8 col-md-10 col-sm-12 w-100">
        <div class="card details-container w-100">
          <h3 class="card-header text-center">Book Details</h3>
          <div class="row g-0">
            <div class="col-md-4 text-center p-3">
              <div class="book-image">
                <img class="card-img-top img-fluid"
                     [src]="book.bImgPath || 'assets/default-book-cover.png'"
                     (error)="onImageError($event)">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ book.bTitle }}</h5>
                <p class="card-text">{{ book.bDesc }}</p>
                <p class="card-text"><strong>Category:</strong> {{ book.bCategory }}</p>
                <p class="card-text"><strong>Price:</strong> {{ book.bPrice }} Rs</p>
                <p class="card-text"><strong>Status:</strong> {{ book.bStatus }}</p>
                <p class="card-text">
                  <strong>Publisher:</strong> {{ publisher.pName }} / {{ publisher.pCountry }}
                </p>
                <button (click)="addToCart(book.bId, book.bTitle, book.bDesc, book.bPrice, book.bImgPath, book.bStatus)"
                        type="button"
                        class="btn btn-primary btn-block mt-2">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="similarBooks" class="container mt-5 mb-3">
    <h2 class="mb-4 text-white text-center">Similar Books</h2>
    <div class="row">
      <div *ngFor="let book of bList | paginate : { itemsPerPage: count, currentPage: p }"
           class="col-lg-2 col-md-3 col-sm-6 col-6 mb-4">
        <div class="card product-card h-100 d-flex flex-column justify-content-between">
          <button type="button" class="btn btn-link product-link p-0" (click)="navigateToSingleBookInfo(book.bId)">
            <img class="card-img-top img-fluid"
                 [src]="book.bImgPath || 'assets/default-book-cover.png'"
                 (error)="onImageError($event)">
          </button>
          <div class="card-body text-center">
            <h5 class="card-title">{{ book.bTitle }}</h5>
            <p class="card-text">{{ book.bPrice }} Rs</p>
            <button (click)="addToCart(book.bId, book.bTitle, book.bDesc, book.bPrice, book.bImgPath, book.bStatus)"
                    type="button"
                    class="btn btn-primary btn-block mt-2">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
  </div>

  <app-footer></app-footer>
</div>
