.container{
    min-height: 75%;
}

.card{
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.875em;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
